<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="maude_csh.css">
    {{ bokeh_css }}
    {{ bokeh_js }}
</head>
<body>
    {{ plot_div }}
    {{ plot_script }}
</body>
</html>